<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">  <!--directiva formgroup y se invoca guardar-->
    <div class="form-group">
      <label  for="nombre">Nombre</label>
      <input  type="text" class="form-control"  id="nombre" placeholder="Ingresar nombre" 
      [formControl]="fg.controls['nombre']"> <!--vinculacion con la directiva fg-->
      <ul>
    		<li *ngFor="let r of searchResults;">{{r}}</li> <!--lista de sugerencias-->
		</ul>

      <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')"
				class="alert alert-danger" role="alert">
        el nombre es invalido!
		  </div> <!--validaciones personalizadas-->

		  <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')"
				class="alert alert-danger" role="alert">
			  el nombre debe tener al menos {{ minLongitud }} caracteres!
		  </div> <!--validaciones personalizadas-->
  
      <div *ngIf="fg.controls['nombre'].hasError('required')" class="alert alert-danger" role="alert">
        nombre es obligatorio!
      </div> <!--validaciones de campos con required por angular-->
    </div>
    <div  class="form-group">
      <label  for="Imagen Url">Imagen Url</label>
      <input  type="text" class="form-control"  id="imagenUrl"  placeholder="Ingresar url" 
      [formControl]="fg.controls['url']"> <!--vinculacion con la directiva fg-->
    </div>
    <button type="submit" class="btn  btn-primary" *ngIf="fg.valid" >Guardar</button> <!--*ngIf muestra que el formgroup es valido--> 
  </form>